<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alen Ribic - $title$</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Writing about technology, startups, and the occasional physics tangent">
        <meta name="keywords" content="Alen Ribic,programming,haskell,clojure,functional,blog,math,physics"></meta>
        <meta name="google-site-verification" content="ddv0MQ-EQj96K2rApZqXKxXu_k90M2coJhr503Nst2E" />
        <meta name="robots" content="index,follow,noarchive">
        <link rel="stylesheet" type="text/css" href="/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script type="text/javascript" id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>
    <body>
        <div id="container">
	  <h1>Alen Ribic - <span style="font-size:20px;">notes from a local reference frame</span></h1>
	  <div id="navigation">
	    <a href="/index.html">Home</a>
            <a href="/posts.html">Posts</a>
	    <a href="/bookshelf.html">Bookshelf</a>
          </div>
          $body$
	</div>
	<div id="footer">
	  <p>&#169; MMXXV Alen Ribic <b>λ</b></p>
	</div>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-33873202-1']);
	_gaq.push(['_setDomainName', 'alenribic.com']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
    </body>
</html>
