<div id="posts">
  <h1>Recent posts</h1>
  <ul>
$for(posts)$
      <li>
          <a href="$url$">$title$</a> - <em>$date$</em>
      </li>
$endfor$
  </ul>
  <p><a href="/posts.html">All posts&hellip;</a></p>

  <h1>Tags</h1>
  <div>
      $tagcloud$
  </div>
</div>
<div id="news">
  <h1>Current snapshot of my life</h1>
  <ul>
    <li>Living in SF, California</li>
    <li>Co-founder at <a href="https://pandorahealth.com">Pandora Health</a> and <a href="https://sweepsouth.com/">SweepSouth</a></li>
    <li>Invest in early stage tech startups now and then (so hit me up if you're working on interesting stuff!)</li>
    <li>Revived this website recently!</li>
    <li>Working on some very exciting <i>stuff</i> this year that I will share insights about soon</li>
  </ul>
</div>
<div id="about">
    <h1>About</h1>
    <div>
          <img src="/images/alen-ribic4.jpg" height="110" alt="Alen Ribic">
          <p>Alen Ribic</p>
          <p>Builder, tech entrepreneur, math & physics major, husband and dad.<br/>Focused on real-life problems worth solving.</p>
          <!--<p>alen dot ribic @ gmail dot com</p>-->
          <p>
            <a href="https://x.com/alenribic">X</a>
          | <a href="https://github.com/billdozr">GitHub</a>
          <!-- | <a href="http://about.me/alenribic">About.me</a> -->
          | <a href="http://feeds.feedburner.com/alenribic">Feed</a>
          </p>
          <p><i>The views expressed on this Web site are my own and do
          not necessarily reflect the views of any other party.</i></p>
    </div>
</div>
