<div id="news">
  <h1>Current snapshot of my life</h1>
  <ul>
    <li>Co-founder of Shift South and Type Infinity</li>
    <li>Living in Johannesburg, South Africa</li>
    <li>My wife Aisha recently graduated with her doctoral degree in human genetics from the University of Cape Town</li>
    <li>As a refresher to reading K&R book, I implemented a LISP-1 interpreter in C with support for tail-call optimization (Who said GOTO statements were evil?)</li>
    <li>Built this website. See <a href="/posts/2011-08-04-and-we-are-live.html">And we are live</a>.</li>
    <li>Working on some very exciting <i>stuff</i> this year that I
  will share some insight into here in the near future</li>
  </ul>
</div>
<div id="about">
    <h1>About</h1>
    <div>
          <img src="/images/alen-ribic3.jpg" height="110" alt="Alen Ribic">
          <p>I am a programmer, consultant, husband and dad.</p>
          <p>My current area of interest is in understanding
          complexity of large software systems. Focus is on difficulty of testing and informal reasoning rather than computational complexity.</p>
          <!--<p>alen dot ribic @ gmail dot com</p>-->
          <p><a href="http://twitter.com/#!/alenribic">Twitter</a> | <a href="https://github.com/billdozr">GitHub</a> | <a href="http://feeds.feedburner.com/alenribic">Feed</a></p>
          <p><i>The views expressed on this Web site are my own and do
          not necessarily reflect the views of my employer.</i></p>
    </div>
</div>
<div id="posts">
    <h1>Recent posts</h1>
    <ul>
        $posts$
    </ul>
    <p><a href="/posts.html">All posts&hellip;</a></p>

    <h1>Tags</h1>
    <div>
        $tagcloud$
    </div>
</div>
